<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- General Settings -->
    <add key="sourceDir" value="M:\Project Demo\Catalogs\"/>
    <add key="backupFileParentDir" value="M:\Project Demo\BackupUtility\Files\"/>
    <add key="destinationDir" value="M:\Project Demo\BackupUtility\Backups\"/>
    
    <!-- Basic Settings -->
    <add key="backupLogFile" value="M:\Project Demo\BackupUtility\Logs\"/>
    <add key="sendEmailExePath" value="M:\"/>

    <!-- Send Mail Settings -->
    <add key="clientName" value=""/>
    <add key="mailFrom" value=""/>
    <add key="mailTo" value=""/>
    <add key="mailServer" value=""/>

    <!-- Delete Old Backup -->
    <add key="keepLastXCopyOfBackup" value="3"/>
    <add key="deleteOldCatalogs" value="true"/>

    <!-- Threshold value for low disk space alert mail.-->
    <add key="lowDiskSpaceAlertIfDiskSpaceLessThanThresholdInPercentage" value="10"/>
    <add key="lowDiskSpaceWarningIfDiskSpaceLessThanThresholdInPercentage" value="20"/>
    
  </appSettings>
  <startup><supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
